<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <h4>Ubicacion</h4>
                    <hr>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8579144100936!2d-78.62133985033022!3d-1.2571792359435852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d38185120bd44b%3A0xb83080f9a2aceebd!2sJose%20Mires%2C%20Ambato%20180203!5e0!3m2!1ses-419!2sec!4v1585755635811!5m2!1ses-419!2sec"
                        width="90%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <br>
                <div class="container">
                    <a href="https://www.facebook.com/psicoandymotivacionydesarrollo" target="_blank">
                        <i class="mdi mdi-facebook-box"> PsicoAndy Motivación y Desarrollo</i>
                    </a>
                    <br>
                    <br>
                    <a>
                        <i class="mdi mdi-phone"> 099 290 2298</i>
                    </a>
                    <br>
                    <br>
                    <a href="mailto:motivacionydesarrollo2012@gmail.com?Subject=Peticion%20de%20Servicio" target="_blank">
                        <i class="mdi mdi-email" style="color: red;"> motivacionydesarrollo2012@gmail.com</i>
                    </a>
                    <br>
                    <br>
                    <a href="https://wa.me/593992902298" style="color: black;" target="_blank">
                        <i class="mdi mdi-whatsapp" style="color: #2ce01c;"></i> WhatsApp
                    </a>
                    <br>
                    <br>
                    <a href="mailto:psicoandymd@gmail.com?Subject=Peticion%20de%20Servicio" target="_blank">
                        <i class="mdi mdi-settings" style="color: royalblue;"> Reportar Problemas</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>