<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-body">
                    <h3 class="card-title">Mis Datos</h3>
                    <hr>

                    <form class="form" [formGroup]="perfilForm" (ngSubmit)="actualizarPerfil()">
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre</label>
                                    <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                                    <small *ngIf="campoNoValido('nombre')" class="text-danger"> El nombre es requerido, máximo 25 caracteres </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Apellido</label>
                                    <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido">
                                    <small *ngIf="campoNoValido('apellido')" class="text-danger"> El apellido es requerido, máximo 25 caracteres </small>
                                </div>
                            </div>
                        </div>
                        <div class="row p-t-20" *ngIf="usuario.rol != 'USER_ROL'">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Biografría</label>
                                    <textarea type="text" class="form-control" placeholder="Biografía" formControlName="bio" rows="5"></textarea>
                                    <small *ngIf="campoNoValido('bio')" class="text-danger"> Máximo 100 caracteres </small>
                                </div>
                            </div>
                        </div>



                        <div *ngIf="!usuario.google">
                            <h3 class="card-title">Cambiar Contraseña</h3>
                            <hr>
                            <div class="row p-t-20">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">Anterior Contraseña</label>
                                        <input type="password" class="form-control" placeholder="Anterior Contraseña" formControlName="anterior">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Nueva Contraseña</label>
                                        <input type="password" class="form-control" placeholder="Nueva Contraseña" formControlName="nueva">
                                        <small *ngIf="campoNoValido('nueva')" class="text-danger"> La contraseña debe tener más de 6 caracteres </small>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Repetir Contraseña</label>
                                        <input type="password" class="form-control" placeholder="Repetir Contraseña" formControlName="repetir">
                                        <small *ngIf="passwordNoValido()" class="text-danger"> Las contraseñas deben ser iguales </small>
                                        <br>
                                        <small *ngIf="campoNoValido('repetir')" class="text-danger"> La contraseña debe tener más de 6 caracteres </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-info"> <i class="fa fa-save"></i> Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Foto</h3>
                <hr>
                <div class="row p-t-20">
                    <div class="col-md-6 text-center">
                        <img *ngIf="!imgShow" [src]="usuario.imagenUrl" class="img-user">
                        <img *ngIf="imgShow" [src]="imgShow" class="img-user">
                    </div>
                    <div class="col-md-6">
                        <input type="file" (change)="cambiarImagen($event.target.files[0])">
                        <br>
                        <br>
                        <div class="form-actions">
                            <button class="btn btn-info" (click)="subirImagen()" type="button" [disabled]="!imagenNueva"> <i class="fa fa-image"></i> Cambiar imagen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>