<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->

<audio id="player" controls style="display: none;">
    <source id="file-mp3" src="../../../assets/multimedia/alert.mp3" type="audio/mpeg">
</audio>

<audio id="call" controls style="display: none;">
    <source id="file-mp3" src="../../../assets/multimedia/alert_call.mp3" type="audio/mpeg">
</audio>

<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <!-- Logo icon -->
                <b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="./assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                    <!-- Light Logo icon -->
                    <img src="./assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                </b>
                <!--End Logo icon -->
                <!-- Logo text --><span>
                         <!-- dark Logo text -->
                <img src="./assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                <!-- Light Logo text -->    
                <img src="./assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li class="nav-item">
                    <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)">
                        <i class="ti-menu"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)">
                        <i class="ti-menu"></i>
                    </a>
                </li>
                <li class="nav-item hidden-sm-down">
                </li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <li class="nav-item search-box">
                    <a class="nav-link waves-effect waves-dark" href="javascript:void(0)">
                        <i class="ti-search"></i>
                    </a>
                    <form class="app-search" (submit)="buscar(txtTermino.value)">
                        <input #txtTermino type="text" class="form-control" placeholder="Buscar">
                        <a class="srh-btn">
                            <i class="ti-close"></i>
                        </a>
                    </form>
                </li>
                <!-- ============================================================== -->
                <!-- Opciones -->
                <!-- ============================================================== -->
                <li class="nav-item ocultar-div">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark " routerLink="/inicio" routerLinkActive="active " aria-haspopup="true " aria-expanded="false "> Inicio
                    </a>
                </li>
                <li class="nav-item ocultar-div">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark " routerLink="/servicios" routerLinkActive="active " aria-haspopup="true " aria-expanded="false "> Servicios
                    </a>
                </li>
                <li class="nav-item ocultar-div">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark " routerLink="/conocenos" routerLinkActive="active " aria-haspopup="true " aria-expanded="false "> Conócenos
                    </a>
                </li>
                <li class="nav-item ocultar-div">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark " routerLink="/contactanos" routerLinkActive="active " aria-haspopup="true " aria-expanded="false "> Contáctanos
                    </a>
                </li>
                <li class="nav-item" *ngIf="!usuario">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark " routerLink="/login" aria-haspopup="true " aria-expanded="false "> Ingresar
                    </a>
                </li>
                <!-- ============================================================== -->
                <!-- End Opciones -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Messages -->
                <!-- ============================================================== -->
                <li class="nav-item" *ngIf="usuario">
                    <a (click)="cambiarEstado()" class="nav-link dropdown-toggle waves-effect waves-dark " routerLink="/mensajes" routerLinkActive="active " aria-haspopup="true " aria-expanded="false "> <i class="mdi mdi-email"></i>
                        <div class="notify" *ngIf="pendiente"> <span class="heartbit"></span> <span class="point"></span> </div>
                    </a>
                </li>
                <!-- ============================================================== -->
                <!-- End Messages -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown" *ngIf="usuario">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true " aria-expanded="false "><img [src]="usuario.imagenUrl " alt="user " class="profile-pic" style="height: 40px; width: 40px;" /></a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeIn fast ">
                        <ul class="dropdown-user ">
                            <li>
                                <div class="dw-user-box ">
                                    <div class="u-img "><img [src]="usuario.imagenUrl " alt="user "></div>
                                    <div class="u-text ">
                                        <h4>{{ usuario.nombre +' '+ usuario.apellido }}</h4>
                                        <p class="text-muted ">
                                            {{ usuario.email | slice:0:20}} {{ usuario.email.length >20 ? '...' : ''}}
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li role="separator " class="divider "></li>
                            <li><a routerLink="/perfil"><i class="ti-user "></i> Perfil</a></li>
                            <li><a routerLink="/mensajes"><i class="ti-email "></i> Mensajes</a></li>
                            <li><a routerLink="/terminos-condiciones"><i class="ti-notepad "></i> Términos y Condiciones</a></li>
                            <!-- <li role="separator " class="divider "></li>
                            <li><a routerLink="/account-settings"><i class="ti-settings "></i> Configuración</a></li> -->
                            <li role="separator " class="divider "></li>
                            <li><a (click)="logout()" class="cursor "><i class="fa fa-power-off "></i> Salir</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->