<div class="card-columns">
    <div class="card" style="height: 500px;" *ngFor="let usuario of usuarios">
        <img [src]="usuario.img | imagen:'usuarios'" class="card-img-top" style="padding: 10px; height: 350px;" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ usuario.nombre + ' ' + usuario.apellido}}</h5>
            <p class="card-text">{{ usuario.bio }}</p>
            <button (click)="contactar(usuario.uid)" class="btn btn-info">Contactar</button>
        </div>
    </div>
</div>

<div class="row animate fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0"></p>
        </div>
    </div>
</div>