<div class="card-columns">
    <div class="card" style="height: 870px;" *ngFor="let servicio of servicios">
        <img [src]="servicio.img | imagen:'servicios'" class="card-img-top" style="padding: 10px; height: 350px;" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ servicio.titulo}}</h5>
            <p class="card-text text-justify" [innerHTML]="servicio.detalle | linky:{newWindow: true}"></p>
            <button style="width: 300px;" (click)="enviarMensaje(servicio.responsable._id)" class="btn btn-info text-center">Contactar a {{ servicio.responsable.nombre + ' ' + servicio.responsable.apellido }}</button>
        </div>
    </div>
</div>

<div class="row animate fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0"></p>
        </div>
    </div>
</div>

<div class="row" [hidden]="servicios.length > 0" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row animate fadeIn fast">
                    <div class="col-12">
                        <div class="alert alert-warning text-center">
                            <h4 class="alert-heading">No se han agregado servicios</h4>
                            <i class="fa fa-warning fa-2x"></i>
                            <p class="mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>