<div class="row animate fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar usuario por nombre o apellido" (keyup)="buscarUsuario( txtTermino.value)" #txtTermino>
            </div>
        </div>
    </div>
</div>

<div class="row animate fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0"></p>
        </div>
    </div>
</div>

<div class="row animate fadeIn fast" *ngIf="!cargando" [hidden]="totalUsuarios > 0">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <h4 class="alert-heading">Sin resultados</h4>
            <i class="fa fa-warning fa-2x"></i>
            <p class="mb-0"></p>
        </div>
    </div>
</div>

<div class="row animate fadeIn fast" *ngIf="!cargando" [hidden]="totalUsuarios === 0">
    <div class="col-12">

        <div class="card">
            <div class="card-body">

                <div class="row animate fadeIn fast" *ngIf="!cargando" [hidden]="totalUsuarios > 0">
                    <div class="col-12">
                        <div class="alert alert-warning text-center">
                            <h4 class="alert-heading">Sin resultados</h4>
                            <i class="fa fa-warning fa-2x"></i>
                            <p class="mb-0"></p>
                        </div>
                    </div>
                </div>

                <div *ngFor="let usuario of usuarios">
                    <a class="list-group-item list-group-item-action list-group-item-light rounded-0" *ngIf="usuario.uid !== usuarioService.uid">
                        <div class="media"><img [src]="usuario.img | imagen:'usuarios'" alt="user" class="rounded-circle" style="height: 40px; width: 40px;">
                            <div class="media-body ml-4" (click)="detalle(usuario.uid, usuario.id, usuario.pendiente)">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <h6 class="mb-0">{{usuario.nombre + ' ' + usuario.apellido}}</h6>
                                </div>
                                <p *ngIf="usuario.estado" class="font-italic mb-0 text-small text-success">online</p>
                                <p *ngIf="!usuario.estado" class="font-italic mb-0 text-small text-danger">offline</p>
                            </div>
                            <div *ngIf="usuarioService.rol !== 'USER_ROL'"><button title="Llamar" [disabled]='!usuario.estado' (click)="llamar(usuario.uid)" class="btn btn-info" style="height: 40px; width: 40px;" target="_blank"><i class="fa fa-video-camera"></i></button></div>
                        </div>
                        <div *ngIf="usuario.pendiente" class="point"></div>
                    </a>
                </div>

            </div>



        </div>
    </div>
</div>