<div class="card mb-3" *ngFor="let comunicado of comunicados">
    <div style="padding: 10px;">

        <div class="card">
            <h5 class="card-header text-justify" style="background-color: #007bff; color: white;"> {{comunicado.titulo}}</h5>
            <div class="card-body">
                <p class="card-text text-justify" [innerHTML]="comunicado.detalle | linky:{newWindow: true}"></p>
                <span class="text-muted">{{comunicado.fecha | date:"short"}}</span>
            </div>
        </div>
    </div>
</div>

<div class="row" [hidden]="comunicados.length > 0" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <img class="img-responsive" src='../../../assets/images/imagenPsicoDashboard.png'>
            </div>
        </div>
    </div>
</div>

<div class="row animate fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0"></p>
        </div>
    </div>
</div>