<div class="row animate fadeIn fast text-right">
    <div class="col-12">
        <button routerLink="/dashboard/seguimientos/seguimiento/nuevo" class="btn btn-success">Agregar</button>
    </div>
</div>
<br>

<div class="row animate fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0"></p>
        </div>
    </div>
</div>

<div class="row animate fadeIn fast" *ngIf="!cargando" [hidden]="totalSeguimientos > 0">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <h4 class="alert-heading">Sin resultados</h4>
            <i class="fa fa-warning fa-2x"></i>
            <p class="mb-0"></p>
        </div>
    </div>
</div>


<div class="row animate fadeIn fast" *ngIf="!cargando" [hidden]="totalSeguimientos === 0">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="w200">Número</th>
                                <th>Fecha</th>
                                <th>Actividad</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let seguimiento of seguimientos">
                                <td>{{ seguimiento.numero }}</td>
                                <td>{{ seguimiento.fecha | date:'short'}}</td>
                                <td>{{ seguimiento.actividad }}</td>
                                <td class="text-nowrap text-center">
                                    <a [routerLink]="['/dashboard/seguimientos/seguimiento/', seguimiento.id]" title="Editar"> <i class="fa fa-edit cursor"></i> </a>&nbsp;
                                    <a (click)="eliminarSeguimiento(seguimiento)" title="Eliminar"> <i class="fa fa-close text-danger cursor"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <button [disabled]="desde === 0" (click)="cambiarPagina(-6)" class="btn btn-info">Anterior</button> &nbsp;
                        <button [disabled]="hasta=== totalSeguimientos" (click)="cambiarPagina(6)" class="btn btn-info">Siguiente</button>
                        <div class="float-right">
                            {{desde+1}}-{{hasta}} ({{totalSeguimientos}})
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>